{% for v in videos %}

    <div class="video">
        <div><span class="title">{{ v.title }}</span></div>
        <a href="/videos/play/{{ v.id }}">
            {{ render_partial('shared/partials/_video_image.html', video=v) }}
        </a>
    </div>

{% endfor %}

{% if has_more_videos %}
    <div class="scroll-trigger htmx-settling"
         hx-get="/feed/more_videos/{{ (page+1) }}"
         hx-trigger="revealed"
         hx-swap="outerHTML">
        <img src="/static/img/bars.svg" width="150px" class="htmx-indicator"/>
    </div>
{% endif %}