.fade-me-out.htmx-swapping {
    opacity: 0;
    transition: opacity .25s ease-out;
}


.fade-me-in.htmx-settling {
    opacity: 0;
}

.fade-me-in {
    opacity: 1;
    transition: opacity .25s ease-out;
}
