{% extends "shared/_layout.html" %}
{% block main_content %}

    <div class="recents">

        <h1>Video Collector: Recent Videos</h1>

        {% for v in videos %}

            <div class="video">
                <div><span class="title">{{ v.title }}</span></div>
                <a href="/videos/play/{{ v.id }}">


                    <img src="https://img.youtube.com/vi/{{ v.id }}/maxresdefault.jpg"
                         class="img img-responsive {{ ' '.join(classes) }}"
                         alt="{{ v.title }}"
                         title="{{ v.title }}">

                </a>
            </div>

        {% endfor %}


    </div>

{% endblock %}
